@charset "UTF-8";
h2 {
  padding-bottom: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 36px;
  letter-spacing: 10%;
  line-height: 150%;
  text-align: center;
  background: url(./image/newunderline.png) no-repeat center bottom;
}

h3 {
  font-size: 24px;
}
@media screen and (max-width: 800px) {
  h3 {
    font-size: 18px;
  }
}

body {
  color: #000000;
  font-size: 16px;
  font-family: " ヒラギノ UD 明朝 Std", serif;
  line-height: 1.6875;
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*header
// -------------------------*/
.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 254, 252, 0.4);
  padding: 0 2rem;
}
.header__inner {
  width: 100%;
  height: 132px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav__headitem {
  list-style: none;
}
.header a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}
.header a:hover {
  color: #ECB00F;
}
.header__contain {
  width: 200px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.header__logo {
  width: 80px;
  height: auto;
}
.header .nav__list {
  display: flex;
  gap: 4rem;
}
@media screen and (max-width: 800px) {
  .header .nav__list {
    display: none;
  }
}
.header .toggle__btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 800px) {
  .header .toggle__btn {
    display: block;
    position: relative;
    z-index: 9999;
  }
}
.header__langswitcher {
  text-align: right;
  margin-bottom: 15px;
  margin-top: 15px;
}
@media screen and (max-width: 800px) {
  .header__langswitcher {
    text-align: center;
    margin-top: 25px;
  }
}
.header .lang__en,
.header .lang__ja {
  background-color: #ECB00F;
  color: #FFFEFf;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.header .lang__enfrist,
.header .lang__jafrist {
  background-color: #ECB00F;
  color: #FFFEFf;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-left: 12px;
}
@media screen and (max-width: 800px) {
  .header .lang__enfrist,
.header .lang__jafrist {
    display: none;
  }
}
.header .lang__jafrist:hover {
  background-color: #FFFEFf;
  color: #DB831F;
}
.header .lang__enfrist:hover {
  background-color: #FFFEFf;
  color: #DB831F;
}
.header .dropdown__menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (max-width: 800px) {
  .header .dropdown__menu {
    display: block;
  }
}
.header .dropdown__menu.open {
  height: 250px;
  text-align: center;
  margin: 25px 0;
  padding: 30px 0;
}
.header .dropdown__menu.open .dropdown__menu .nav__headitem {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.header .dropdown__menu.open .toggle__btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}
.header .dropdown__menu.open .nav__headitem {
  margin: 20px 0;
}

/*main
    ------------------------*/
#myVideo {
  right: 0;
  bottom: 0;
  width: 100%;
}

.text__eyecatch {
  position: fixed;
  bottom: 100px;
  right: 100px;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/*informatin
-------------------------*/
.information {
  text-align: center;
}
.information__maintopic {
  text-align: center;
}
.information__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .information__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 800px) {
  .information__inner__inner {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}
.information__info {
  padding: 50px 0 50px;
}
.information__image {
  text-align: center;
}

/*background fixed photo scroll
---------------------------------------*/
.margin {
  margin: 10% 0;
}

.text {
  background-image: url(./image/image.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.text__inner {
  padding-top: 20%;
  padding-bottom: 20%;
}

.text__name {
  text-align: center;
  font-size: 500%;
  color: #FAE8BA;
  letter-spacing: 3px;
}

/*recomend
-------------------------------*/
.recom {
  position: relative;
  margin: 120px 0 120px;
}
.recom__sideimage {
  width: 400px;
  position: absolute;
  top: -300px;
  left: 0;
}
@media screen and (max-width: 800px) {
  .recom__sideimage {
    width: 200px;
    top: -215px;
  }
}
.recom__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .recom__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 800px) {
  .recom__item:nth-child(even) .recom__content {
    flex-direction: none;
  }
}
.recom__item:nth-child(even) .recom__content {
  flex-direction: row-reverse;
}
.recom__item:nth-child(even) .recom__number {
  text-align: right;
  color: #DB831F;
}
@media screen and (max-width: 800px) {
  .recom__item:nth-child(even) .recom__number {
    font-size: 50px;
  }
}
.recom__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
@media screen and (max-width: 800px) {
  .recom__content {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.recom__number {
  font-size: 96px;
  color: #DB831F;
}
@media screen and (max-width: 800px) {
  .recom__number {
    font-size: 50px;
  }
}
.recom__info {
  width: 38%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .recom__info {
    width: 100%;
  }
}
.recom__minititle {
  font-size: 16px;
  margin-bottom: 15px;
}
.recom__title {
  font-size: 24px;
  margin-bottom: 20px;
}
.recom__text {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}
.recom__spices {
  font-size: 12px;
  margin: 50px 0 50px 0;
  background-color: #D27B4B;
}
.recom__image {
  width: 60%;
  padding: 25px 0 25px 25px;
  border-radius: 10px;
  border: 4px solid #FAE8BA;
}
@media screen and (max-width: 800px) {
  .recom__image {
    width: 100%;
    padding: 25px 25px 25px 25px;
    border-radius: 10px;
    border: 3px solid #FAE8BA;
  }
}
.recom__image img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  /* Initial scale */
  transition: transform 0.2s ease-out;
  /* Smooth transition */
}
.recom .btn {
  display: block;
  width: 250px;
  padding: 10px 20px;
  background-color: #D63D0F;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

/*inside
---------------------------------*/
.inside {
  margin: 180px 0 120px;
  padding: 120px 0 50px;
  position: relative;
  background-image: url(./image/NEWS.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .inside {
    margin: 0 0 50px;
    padding: 10px 0 10px;
  }
}
.inside__backpic {
  position: absolute;
  top: -250px;
  right: 0;
  width: 40%;
}
@media screen and (max-width: 800px) {
  .inside__backpic {
    position: absolute;
    top: -100px;
    right: -18px;
    width: 51%;
  }
}
.inside__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .inside__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.inside__main {
  margin: 60px 0 60px;
}
.inside__text {
  text-align: left;
  margin-bottom: 10px;
}
.inside__minititle {
  font-size: 36px;
  text-align: center;
  margin: 60px 0 60px;
}
.inside__nav {
  margin: 60px 0 100px;
}
.inside__nav .nav__inlist {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  text-align: center;
  justify-content: center;
}
.inside__nav .nav__inside {
  background-color: #FFFEFf;
  font-size: 18px;
  padding: 15px;
  text-align: center;
}
.inside__pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 800px) {
  .inside__pic {
    display: block;
    margin-right: -100px;
    margin-left: 21px;
    margin-bottom: -225px;
  }
}
.inside .insidemap {
  width: 40%;
  height: 470px;
}
@media screen and (max-width: 800px) {
  .inside .insidemap {
    width: 70%;
    height: 470px;
  }
}
.inside .insideroom {
  width: 48%;
  margin-bottom: 9%;
}
@media screen and (max-width: 800px) {
  .inside .insideroom {
    width: 70%;
    margin-bottom: 9%;
  }
}

.true__map {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.true__map iframe {
  width: 100%;
}

/*insta
------------------------*/
.insta {
  margin: 120px 0 120px;
}
@media screen and (max-width: 800px) {
  .insta {
    margin: 50px 0 50px;
  }
}
.insta__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .insta__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.insta .btn__insta {
  display: block;
  width: 250px;
  padding: 10px 20px;
  background-color: #D63D0F;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.insta__bottompic {
  margin: 60px 0 60px;
}
@media screen and (max-width: 800px) {
  .insta__bottompic {
    margin: 30px 0 -70px;
  }
}
.insta__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  .insta__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.insta__minipic {
  width: 41%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px 10px;
}

/*news
--------------------------*/
.news {
  width: 100%;
  margin: 120px 0 120px;
  position: relative;
}
.news__mainname {
  width: 40%;
  margin-top: 150px;
}
@media screen and (max-width: 800px) {
  .news__mainname {
    width: 100%;
    margin-top: 100px;
  }
}
.news__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
@media (max-width: 640px) {
  .news__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 800px) {
  .news__inner {
    display: block;
    width: 100%;
  }
}
.news__list {
  width: 100%;
  background-image: url(./image/);
  background-size: cover;
  display: flex;
  flex-direction: row;
  padding: 30px 0 0;
}
@media screen and (max-width: 800px) {
  .news__list {
    width: 100%;
  }
}
.news__item {
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 46px;
}
.news__pic {
  width: 80%;
}
.news__sideimage {
  width: 30%;
  position: absolute;
  top: -290px;
  left: 0;
}
.news .btn__news {
  display: block;
  width: 250px;
  padding: 10px 20px;
  background-color: #D63D0F;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .true__map {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .true__map iframe {
    width: 100%;
  }
}

.map {
  width: 100%;
}
.map__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}
@media screen and (max-width: 800px) {
  .map__inner {
    width: 85%;
  }
}
.map__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}
@media screen and (max-width: 800px) {
  .map__title {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}
.map__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media screen and (max-width: 800px) {
  .map__details {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 800px) {
  .map .map__left,
.map .map__right {
    width: 100%;
  }
}
.map .map__item {
  display: grid;
  grid-template-columns: 6em 1fr;
  gap: 30px;
}
.map .map__item .map__name {
  font-weight: bold;
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  .map .map__item .map__name {
    font-size: 14px;
  }
}
.map .map__item .map__info {
  font-size: 1.1rem;
}
@media screen and (max-width: 800px) {
  .map .map__item .map__info {
    font-size: 14px;
  }
}

.footer {
  width: 100%;
  background-image: url(./image/stew-rice-coconut-plates-copy-space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  height: 700px;
}
@media screen and (max-width: 800px) {
  .footer {
    width: 100%;
    height: 270px;
  }
}

.footer__inner {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 800px) {
  .footer__inner {
    display: flex;
    justify-content: flex-end;
  }
}

.footer__main {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  padding-left: 0;
}
@media screen and (max-width: 800px) {
  .footer__main {
    padding: 10px 45px;
  }
}

.footer__contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}
@media screen and (max-width: 800px) {
  .footer__contain {
    justify-content: space-around;
    width: 40%;
    margin-bottom: 15px;
  }
}

.footer__name {
  font-size: 36px;
  text-align: right;
  margin-bottom: 11px;
  border-bottom: 1px solid black;
}
@media screen and (max-width: 800px) {
  .footer__name {
    font-size: 14px;
  }
}

.footer__line {
  border: none;
  border-bottom: 1px solid #000;
  margin: 5px 0;
}
@media screen and (max-width: 800px) {
  .footer__line {
    border: none;
    border-bottom: 1px solid #000;
    margin: 5px 0;
  }
}

.footer__logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -6px;
  right: -64px;
}
@media screen and (max-width: 800px) {
  .footer__logo {
    width: 80px;
    height: 100px;
  }
}

.footer__text {
  margin-bottom: 5px;
  font-size: 14px;
}
@media screen and (max-width: 800px) {
  .footer__text {
    margin-bottom: 0;
    font-size: 8px;
  }
}

.nav__list {
  list-style: none;
  padding: 0;
  text-align: right;
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .nav__list {
    margin-bottom: 10px;
  }
}

.nav__item {
  margin-bottom: 5px;
}
@media screen and (max-width: 800px) {
  .nav__item {
    margin-bottom: 5px;
    font-size: 10px;
  }
}

.nav__item a {
  text-decoration: none;
  color: black;
}

.icon__nav {
  text-align: right;
  margin-top: 10px;
}
@media screen and (max-width: 800px) {
  .icon__nav {
    margin-top: 0;
  }
}

.icon__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .icon__list {
    margin-bottom: 10px;
  }
}

.icon__item {
  margin-left: 10px;
}
@media screen and (max-width: 800px) {
  .icon__item {
    margin-left: 8px;
  }
}

.icon__item a img {
  width: 30px;
  height: auto;
}
@media screen and (max-width: 800px) {
  .icon__item a img {
    width: 20px;
    height: auto;
  }
}

.footer__copyright {
  text-align: right;
  margin-top: 10px;
  font-size: 12px;
}
@media screen and (max-width: 800px) {
  .footer__copyright {
    margin-top: 5px;
    font-size: 10px;
  }
}

/*menupage...............................
---------------------------------------------------------------*/
.menu__fristview {
  background-image: url(./image/rm245-bb-62.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 600px;
}
@media screen and (max-width: 800px) {
  .menu__fristview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu__maintitle {
  background-image: none;
  padding-top: 200px;
  font-size: 36px;
  margin-bottom: -30px;
}
.menu__listmenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.menu__item a {
  display: inline-block;
  min-width: 8em;
  margin: 20px;
  padding: 5px 15px;
  border: 2px solid #DB831F;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.menu__item a:hover {
  background-color: rgba(219, 131, 31, 0.3);
  transform: scale(1.5);
}
@media screen and (max-width: 800px) {
  .menu__item a {
    margin: 5px 20px;
  }
}

.mainmenu {
  position: relative;
  margin: 120px 0 200px;
}
.mainmenu__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .mainmenu__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 800px) {
  .mainmenu__item {
    flex-direction: none;
  }
}
.mainmenu__item:nth-child(even) .mainmenu__content {
  flex-direction: row-reverse;
}
.mainmenu__item:nth-child(even) .mainmenu__number {
  text-align: right;
  color: #DB831F;
}
@media screen and (max-width: 800px) {
  .mainmenu__item:nth-child(even) .mainmenu__number {
    font-size: 50px;
  }
}
.mainmenu__number {
  font-size: 96px;
}
@media screen and (max-width: 800px) {
  .mainmenu__number {
    font-size: 50px;
    color: #DB831F;
  }
}
.mainmenu__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
@media screen and (max-width: 800px) {
  .mainmenu__content {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.mainmenu__info {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .mainmenu__info {
    width: 100%;
  }
}
.mainmenu__minititle {
  font-size: 24px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}
.mainmenu__minititle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #D27B4B;
}
.mainmenu__title {
  font-size: 16px;
  margin-bottom: 15px;
}
.mainmenu__text {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}
.mainmenu__image {
  width: 48%;
  padding: 25px 25px;
  border-radius: 10px;
  border: 4px solid #FAE8BA;
}
@media screen and (max-width: 800px) {
  .mainmenu__image {
    width: 100%;
  }
}
.mainmenu__image img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainmenu .btn {
  display: block;
  width: 200px;
  padding: 10px;
  background-color: #D63D0F;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 12px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mainmenu .pagination {
  display: flex;
  justify-content: center;
  margin-bottom: -80px;
  margin-top: 60px;
  font-size: 18px;
}
.mainmenu .pagination a {
  color: black;
  float: left;
  padding: 40px 60px;
  text-decoration: none;
  margin: 25px;
  border-radius: 10px;
  background-color: #FAE8BA;
}
@media screen and (max-width: 800px) {
  .mainmenu .pagination a {
    padding: 20px 30px;
  }
}
.mainmenu .pagination a.active {
  color: white;
}
.mainmenu .pagination a:hover:not(.active) {
  background-color: #ECB00F;
  color: #FFFEFf;
}

/*recommend...............................
---------------------------------------------------------------*/
.btn__menu {
  display: block;
  width: 200px;
  padding: 10px;
  background-color: #D63D0F;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 12px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/*sidedishes..............................
---------------------------------------------------------------*/
.sidedishes {
  position: relative;
  margin: 120px 0 200px;
}
.sidedishes__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .sidedishes__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.sidedishes__item:nth-child(even) .mainmenu__content {
  flex-direction: row-reverse;
}
.sidedishes__item:nth-child(even) .mainmenu__number {
  text-align: right;
  color: #DB831F;
}
.sidedishes__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
@media screen and (max-width: 800px) {
  .sidedishes__content {
    display: block;
  }
}
.sidedishes__number {
  font-size: 96px;
  color: #DB831F;
}
@media screen and (max-width: 800px) {
  .sidedishes__number {
    font-size: 50px;
    text-align: center;
  }
}
.sidedishes__info {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .sidedishes__info {
    width: 100%;
  }
}
.sidedishes__minititle {
  font-size: 24px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}
.sidedishes__minititle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #D27B4B;
}
.sidedishes__title {
  font-size: 16px;
  margin-bottom: 15px;
}
.sidedishes__text {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}
.sidedishes__image {
  width: 40%;
  padding: 25px 25px;
  border-radius: 10px;
  border: 4px solid #FAE8BA;
}
@media screen and (max-width: 800px) {
  .sidedishes__image {
    width: 100%;
  }
}
.sidedishes__image img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidedishes .btn {
  display: block;
  width: 200px;
  padding: 10px;
  background-color: #D63D0F;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 12px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
@media screen and (max-width: 800px) {
  .sidedishes .btn {
    margin-bottom: 30px;
  }
}

.dessert {
  position: relative;
  margin: 120px 0 200px;
}
.dessert__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .dessert__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.dessert__item:nth-child(even) .mainmenu__content {
  flex-direction: row-reverse;
}
.dessert__item:nth-child(even) .mainmenu__number {
  text-align: right;
  color: #DB831F;
}
.dessert__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
@media screen and (max-width: 800px) {
  .dessert__content {
    display: block;
  }
}
.dessert__number {
  font-size: 96px;
  color: #DB831F;
}
@media screen and (max-width: 800px) {
  .dessert__number {
    font-size: 50px;
    text-align: center;
  }
}
.dessert__info {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .dessert__info {
    width: 100%;
  }
}
.dessert__minititle {
  font-size: 24px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}
.dessert__minititle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #D27B4B;
}
.dessert__title {
  font-size: 16px;
  margin-bottom: 15px;
}
.dessert__text {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}
.dessert__image {
  width: 40%;
  padding: 25px 25px;
  border-radius: 10px;
  border: 4px solid #FAE8BA;
}
@media screen and (max-width: 800px) {
  .dessert__image {
    width: 100%;
  }
}
.dessert__image img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.dessert .btn {
  display: block;
  width: 200px;
  padding: 10px;
  background-color: #D63D0F;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-size: 12px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
@media screen and (max-width: 800px) {
  .dessert .btn {
    margin-bottom: 30px;
  }
}

/*drinks.............................
---------------------------------------------------------------*/
.drinks__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (max-width: 640px) {
  .drinks__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.drinks__subitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #444;
}
.drinks__subitem:last-child {
  border-bottom: none;
}
.drinks__juicelist {
  width: 50%;
  margin-top: 40px;
  margin-bottom: 220px;
}
@media screen and (max-width: 800px) {
  .drinks__juicelist {
    width: 100%;
  }
}
.drinks__mango {
  position: absolute;
  top: 400px;
  right: 95px;
  width: 35%;
}
@media screen and (max-width: 800px) {
  .drinks__mango {
    top: 795px;
    right: 135px;
  }
}
.drinks__choco {
  position: absolute;
  top: -200px;
  right: 175px;
  width: 25%;
}
@media screen and (max-width: 800px) {
  .drinks__choco {
    top: 765px;
    right: 300px;
    width: 30%;
  }
}
.drinks__falooda {
  position: absolute;
  top: 150px;
  right: -100px;
  width: 55%;
}
@media screen and (max-width: 800px) {
  .drinks__falooda {
    top: 800px;
    right: 20px;
  }
}
.drinks__tealist {
  width: 50%;
  margin-top: 100px;
  margin-bottom: 220px;
  margin-left: auto;
}
@media screen and (max-width: 800px) {
  .drinks__tealist {
    width: 100%;
  }
}
.drinks__milktea {
  position: absolute;
  top: 900px;
  right: 834px;
  width: 50%;
}
@media screen and (max-width: 800px) {
  .drinks__milktea {
    top: 1850px;
    right: 115px;
    width: 73%;
  }
}
.drinks__lemon {
  position: absolute;
  top: 1350px;
  right: 840px;
  width: 35%;
}
@media screen and (max-width: 800px) {
  .drinks__lemon {
    top: 1806px;
    right: 30px;
    width: 43%;
    margin-bottom: 200px;
  }
}
.drinks__title {
  margin: 50px 0;
}
.drinks__minititle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/*contact page
----------------------------------------------------------------------------------------------------------------------------*/
.cont__fristview {
  background-image: url(./image/contact_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
}
.cont__maintitle {
  background-image: none;
  padding: 250px 0;
  font-size: 36px;
}
.cont__sideimg {
  position: absolute;
  top: 200px;
  left: 3px;
  width: 35%;
}
.cont__sideicon {
  position: absolute;
  top: 200px;
  right: 3px;
  width: 35%;
}
.cont__info {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 100px 0;
  text-align: center;
}
.cont__info .cont__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .cont__info .cont__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 800px) {
  .cont__info {
    display: none;
  }
}
.cont__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e3b66e;
  padding: 60px 60px;
  border-radius: 5px;
  width: 30%;
  box-sizing: border-box;
  margin-top: 100px;
}
@media screen and (max-width: 800px) {
  .cont__detail {
    padding: 30px 30px;
    width: 30%;
    text-align: center;
  }
}
.cont__icontitle {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}
.cont__icon {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}
.cont__name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #e3b66e;
}
.cont__item {
  line-height: 1.4;
  color: #000000;
  text-align: center;
}
.cont__item a {
  color: #000000;
  text-decoration: none;
}
.cont__item a:hover {
  text-decoration: underline;
}
.cont__nav {
  text-align: right;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media screen and (max-width: 800px) {
  .cont__nav {
    margin-bottom: 0;
  }
}
.cont__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.cont__item {
  margin: 0;
  padding: 0;
}
.cont__item a img {
  width: 20%;
  height: auto;
}

/*description--------------------------------------------------------------------------------------------------*/
.des__fristview {
  max-width: 1400px;
  background-image: url(./image/sri-lanka-tea-plantation-hills-uc7k1uai8h1ts9m4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
}
@media screen and (max-width: 800px) {
  .des__fristview {
    height: 400px;
  }
}
.des__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .des__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.des__sriname {
  padding: 60px 0;
  text-align: center;
  margin: 100px 0;
  background: url(./image/newunderline.png) no-repeat center bottom;
}
@media screen and (max-width: 800px) {
  .des__sriname {
    font-size: 24px;
    margin-top: -25px;
    padding-bottom: 70px;
    background-size: 80%;
  }
}
.des__srilanka {
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .des__srilanka {
    display: block;
  }
}
.des__map {
  width: 50%;
  height: 50%;
}
@media screen and (max-width: 800px) {
  .des__map {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: -50px;
  }
}
.des__content {
  width: 40%;
}
@media screen and (max-width: 800px) {
  .des__content {
    width: 100%;
  }
}

.mask__info {
  background-image: url(./image/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1200px;
}
.mask__name {
  text-align: center;
  margin: 100px 0;
  padding: 90px 0;
  background: url(./image/newunderline.png) no-repeat center bottom;
}
@media screen and (max-width: 800px) {
  .mask__name {
    font-size: 24px;
    padding-bottom: 70px;
    background-size: 80%;
  }
}
.mask__content {
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 200px;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 800px) {
  .mask__content {
    display: block;
  }
}
.mask__detail {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .mask__detail {
    width: 100%;
  }
}
.mask__image {
  width: 50%;
  margin-bottom: 20px;
  margin-top: -75px;
}
.mask__dancer {
  width: 50%;
}
@media screen and (max-width: 800px) {
  .mask__dancer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.ayu__sriname {
  padding: 60px 0;
  text-align: center;
  margin: 100px 0;
  background: url(./image/newunderline.png) no-repeat center bottom;
}
@media screen and (max-width: 800px) {
  .ayu__sriname {
    font-size: 24px;
    margin-top: -25px;
    padding-bottom: 70px;
    background-size: 80%;
  }
}
.ayu__title {
  padding: 10px 0;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px #DB831F solid;
}
.ayu__text {
  padding: 10px 0;
}
.ayu__item {
  padding: 10px 0;
}
.ayu__item .active {
  font-weight: bold;
}
.ayu__list {
  margin-bottom: 50px;
}
.ayu__image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 800px) {
  .ayu__image {
    display: block;
  }
}
.ayu__image img {
  width: 50%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 800px) {
  .ayu__image img {
    width: 100%;
  }
}

.spices {
  margin: 200px 0;
}
.spices__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .spices__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.spices__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 10px;
}
@media screen and (max-width: 800px) {
  .spices__list {
    grid-template-columns: repeat(2, minmax(190px, 1fr));
  }
}
.spices .card {
  display: grid;
  flex-direction: column;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 0;
  grid-template-rows: subgrid;
  grid-row: span 4;
}
.spices .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.spices .card .card__image {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid #f0f0f0;
}
.spices .card .card__content {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.spices .card .card__name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px #D63D0F solid;
}
.spices .card .card__flavor {
  font-size: 1rem;
  color: #666;
  line-height: 1.4;
  margin: 15px 0;
}
.spices .card .card__benefit {
  font-size: 1rem;
  color: #666;
  line-height: 1.4;
  margin-bottom: 0;
  background-color: #d9f099;
}

/*about-------------------------------------------------------------------------------------------------------------------------------------*/
.shop {
  margin-top: 200px;
}
@media screen and (max-width: 800px) {
  .shop {
    margin-top: 50px;
  }
}
.shop__fristview {
  background-image: url(./image/contact_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
}
.shop__maintitle {
  background-image: none;
  padding: 250px 0;
  font-size: 36px;
}
.shop__sideimg {
  position: absolute;
  top: 200px;
  left: 3px;
  width: 35%;
}
.shop__sideicon {
  position: absolute;
  top: 200px;
  right: 3px;
  width: 35%;
}

.special__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .special__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.special__image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 100px 0;
}
.special__image img {
  width: 50%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 800px) {
  .special__image {
    display: block;
    gap: 40px;
  }
  .special__image img {
    width: 100%;
    aspect-ratio: 4/3;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.special__imagefrist, .special__imagesecond {
  width: 50%;
}

.concept__shop {
  background-image: url(./image/floral-ornaments.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 620px;
  margin-bottom: 200px;
  margin-top: 200px;
}
@media screen and (max-width: 800px) {
  .concept__shop {
    margin-top: 50px;
  }
}

.concept__text {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.concept__title {
  padding-top: 100px;
}

.journel__inner {
  max-width: 1400px;
  width: 85.7142857143%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .journel__inner {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.journel__image {
  width: 100%;
  margin: 100px 0;
}

/*des_2---------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*pc---------------------------------*/
@media (max-width: 640px) {
  h2 {
    font-size: 24px;
    padding-bottom: 70px;
    background-size: 80%;
    letter-spacing: 5%;
  }
  .menu__inner {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .menu__fristview {
    background-image: url(./image/rm245-bb-62.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__maintitle {
    background-image: none;
    padding-top: 200px;
    font-size: 36px;
    color: #000;
    text-align: center;
  }
  .menu__inner {
    width: 95%;
  }
  .menu__fristview {
    height: 400px;
  }
  .menu__maintitle {
    font-size: 24px;
    padding-top: 100px;
  }
}
/*# sourceMappingURL=style.css.map */